.all{
  width: 100%;
}
.navbar{
  background:var(--color-white) !important;
}
.navbar .navbar-brand{
  color: #43a047 !important;
  font-family: var(--font-primary);
  font-size: 20px;
}
.navbar-brand img{
  width: 35px;
}
.navbar{
    padding: 20px;
    margin-bottom: calc(120px - 1.5rem);
}
.btn{
 display: flex;
 align-items: center;
 justify-content: center;
  width: 170px;
  height: 50px;
  font-size: 16px;
  font-weight: 700;
  font-family: 'roboto', sans-serif;
  line-height: 24px;
 
}
.btn-link{
  margin-right: 10px;
  color: #777a83 !important;
  transition: .5s;
}
.btn-link:hover{
  background-color: #777a83;
  color: var(--color-white) !important;
  border-radius: 5px !important;
}
.btn-success{
  border-radius: 5px !important;
  color: var(--color-white) !important;
}
.hero__container{
  display: grid ;
  grid-template-columns: 1fr 2fr ;
  justify-content: center;
  margin: 0 auto;
 overflow: hidden;
}
.hero__img img{
  width:850px;
  height: 660px;
  transform: translateX(-10%)
 
}
.hero__img{
  position: relative;
}
.hero__copy{
  margin: 50px 0 0 35vmin;
  width: 500px;
  z-index: 2;
}
.hero__copy h1{
  font-family: var(--font-primary);
  color: var(--color-green);
  font-size: 80px;
  line-height: 80px;
}
.hero__copy p{
    font-size: 22px;
    height: 300;
    line-height: 33px;
    color: #868a93;
    margin: 50px 0 30% 0;
}
.hero__story{
  display: flex;
 
}
.hero__story img{
  margin: 10px;
  width: 170px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
